<container>
  <% if @lists.empty? %>
    <span class="text-warning">No lists yet!</span>
  <% else %>
      <% @lists.each do |list| %>
        <div class="list-item">
          <%= render partial: 'lists/show', locals: { list: list } %>
        </div>
      <% end %>
  <% end %>
</container>

